#CocktailsListContent a{
    background-color: #FFF7DC;
}

.ui-content {
    padding-top: 0.1em !important;
    background-color: floralwhite !important;
}

.ui-page {
    background-color: floralwhite !important;
}

.ui-input-search {
    border-radius: 0 !important;
}

p.smallText {
    line-height: 1;
    color: brown;
    margin: 0 !important;
    font-family: monospace;
}

span.sidetext {
    font-family: monospace;
    line-height: 2.5;
}

#RecipeMainPage {
    padding: 0;
    background-color: floralwhite !important;
}